/* Reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* body css */
body{
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E0E1DD;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* main css */
main{
    min-height: 100vh;
    flex: 1;
}

/* header css */
header{
    background-color: #0D1B2A;
    color: #fff;
    padding: 10px;
}


.container{
    display: flex;
    align-items: center;
}

.small-container{
    flex-grow: 1;
    text-align: center;
}

.nav a{
    color: #fff;
}

#nav-list{
    background-color: #1B263B;
}

@media(max-width: 768px){
    header h1{
        font-size: 20px;
    }
}



/* logo */
#logo{
    width: 5em;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

/* logo mediaquery */
@media(max-width: 768px){
    #logo{
        width: 3em;
        height: auto;
        object-fit:contain;
    }
}

/* ul-navbar */
#nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    gap: 1em;
    cursor: pointer;
}

/* media query ul-navbar */
@media(max-width: 768px){
    #nav-list{
        list-style: none;
        padding-left: 1em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        gap: 0.4em;
        font-size: 15px;
    }
}


/* footer css */
footer{
    background-color: #0D1B2A;
    color: rgb(136, 130, 130);
    padding: 20px;
    line-height: 2;
    
}

.footer-link{
    list-style: none;
    color: rgb(136, 130, 130);
}

.foot-link{
    color: rgb(136, 130, 130);
}

small{
    display: block;
}

/* main section css */
main{
    padding: 20px;

}

.first, .second, .third, .four{
    background-color: #26303a;
    color: wheat;
    margin-bottom: 1em;
    display: block;
    padding: 10px;
    margin-left: 15em;
    margin-right: 15em;
    border-radius: 10px;
    text-align: center;
}

.third, .four{
    line-height: 1.7;
}

p a{
    color: wheat;
    background-color: #4e5664;
    padding: 0.2em;
}

main img{
    width: 600px;
    height: auto;
    object-fit: cover;
    margin-bottom: 3em;
    border-radius: 10px;
    border: 3px solid #0D1B2A;
}

/* use media query for making reponsive */
@media(max-width: 768px){

    .first, .second, .third, .four{
        background-color: #26303a;
        color: wheat;
        margin-bottom: 1em;
        display: block;
        padding: 10px;
        margin-left: 1em;
        margin-right: 1em;
        border-radius: 10px;
        text-align: center;
    }

    .third, .four{
        line-height: 1.7;
    }

    p a{
        color: wheat;
        background-color: #4e5664;
        padding: 0.2em;
    }

    main img{
        display: block;
        /* width: 100%; */
        max-width: 20em;
        height: auto;
        object-fit: cover;
        margin: 0 auto 3em;
        border-radius: 4px;
        border: 2px solid #0D1B2A;
    }

}














