/* Reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* body css */
body{
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E0E1DD;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* main css */
main{
    min-height: 100vh;
    flex: 1;
}

/* header css */
header{
    background-color: #0D1B2A;
    color: #fff;
    padding: 10px;
}


.container{
    display: flex;
    align-items: center;
}

.small-container{
    flex-grow: 1;
    text-align: center;
}

.nav a{
    color: #fff;
}

#nav-list{
    background-color: #1B263B;
}

@media(max-width: 768px){
    header h1{
        font-size: 20px;
    }
}



/* logo */
#logo{
    width: 5em;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

/* logo mediaquery */
@media(max-width: 768px){
    #logo{
        width: 3em;
        height: auto;
        object-fit:contain;
    }
}

/* ul-navbar */
#nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    gap: 1em;
    cursor: pointer;
}

/* media query ul-navbar */
@media(max-width: 768px){
    #nav-list{
        list-style: none;
        padding-left: 1em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        gap: 0.4em;
        font-size: 15px;
    }
}


/* footer css */
footer{
    background-color: #0D1B2A;
    color: rgb(136, 130, 130);
    padding: 20px;
    line-height: 2;
    
}

.footer-link{
    list-style: none;
    color: rgb(136, 130, 130);
}

.foot-link{
    color: rgb(136, 130, 130);
}

small{
    display: block;
}

/* main section css */
main{
    padding: 20px;
}

.main-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    /* background: #8c9376; */
}

.course{
    background-color: #222e45;
    padding: 100px;
    border-radius: 10px;
    color: rgb(235, 223, 223);
    box-shadow: 2px 3px 4px black;
}

.course summary{
    list-style: none;
    cursor: pointer;
}

aside{
    background-color: #222e45;
    text-align: left;
    padding-left: 20px;
    margin-right: 100em;
    padding: 20px;
    border-radius: 5px;
    color: rgb(236, 234, 234);
}

aside ul{
    list-style: none;
}

mark{
    background-color: #e1e0e0;
}

/* media query for phone responsive */
@media(max-width: 768px){
        main{
        padding: 20px;
    }

    .main-section{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    }

    .course{
        padding: 60px;
        border-radius: 10px;
    }

    .course summary{
        list-style: none;
        cursor: pointer;
    }

    aside{
        background-color: #293449;
        text-align: left;
        padding-left: 20px;
        margin-right: 10em;
        padding: 20px;
        border-radius: 5px;
    }

    aside ul{
        list-style: none;
    }



}
















