/* Reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* body css */
body{
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E0E1DD;
    text-align: center;
    display: flex;
    flex-direction: column;
}

/* main css */
main{
    min-height: 100vh;
    flex: 1;
}

/* header css */
header{
    background-color: #0D1B2A;
    color: #fff;
    padding: 10px;
}


.container{
    display: flex;
    align-items: center;
}

.small-container{
    flex-grow: 1;
    text-align: center;
}

.nav a{
    color: #fff;
}

#nav-list{
    background-color: #1B263B;
}

@media(max-width: 768px){
    header h1{
        font-size: 20px;
    }
}



/* logo */
#logo{
    width: 5em;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

/* logo mediaquery */
@media(max-width: 768px){
    #logo{
        width: 3em;
        height: auto;
        object-fit:contain;
    }
}

/* ul-navbar */
#nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 20px;
    gap: 1em;
    cursor: pointer;
}

/* media query ul-navbar */
@media(max-width: 768px){
    #nav-list{
        list-style: none;
        padding-left: 1em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        gap: 0.4em;
        font-size: 15px;
    }
}


/* footer css */
footer{
    background-color: #0D1B2A;
    color: rgb(136, 130, 130);
    padding: 20px;
    line-height: 2;
    
}

.footer-link{
    list-style: none;
    color: rgb(136, 130, 130);
}

.foot-link{
    color: rgb(136, 130, 130);
}

small{
    display: block;
}

/* main section css */
main{
    display: flex;
    justify-content: center;
    align-items: center;
}

main div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B263B;
    padding: 20px;
}


form{
    background-color: #9ea9b6;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: left;

}

main img{
    width: 600px;
    height: 762px;
    object-fit: cover;
}

label{
    font-size: 25px;
}

input{
    padding: 10px;
    border-radius: 3px;
    font-size: 22px;

}

input::placeholder{
    font-size: 20px;
    color: #343a41;
}

select option{
    border: 2px solid #242830;
    cursor: pointer;



}

select{
    padding: 10px;
    font-size: 20px;
    border-radius: 3px;
    border: 2px solid #242830;
    cursor: pointer;


}

strong{
    font-size: 28px;
    font-weight: 200;
}

textarea{
    padding: 10px;
    border: 2px solid #0D1B2A;
    border-radius: 3px;
    font-size: large;
}

textarea::placeholder{
    font-size: 16px;
    color: #343a41;
}

button{
    padding: 15px;
    font-size: larger;
    border-radius: 3px;
    font-weight: bold;
    border-radius: 8px;
    background-color: #55585c;
    color: rgb(236, 230, 230);
}

@media(max-width: 768px){

    main{
        padding: 10px;
    }

    main div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #1B263B;
        padding: 10px;

    }


    form{
        background-color: #9ea9b6;
        padding-top: 2em;
        padding-bottom: 1em;
        text-align: left;
        padding: 0.5em;

    }

    main img{
        width: 21.2em;
        height: 500px;
        object-fit: cover;
    }

    label{
        font-size: 18px;
    }

    input{
        border-radius: 3px;
        font-size: 16px;

    }

    input::placeholder{
        font-size: 16px;
        color: #343a41;
    }

    select option{
        border: 2px solid #242830;
        cursor: pointer;
    }

    select{
        padding: 10px;
        font-size: 16px;
        border-radius: 3px;
        border: 2px solid #242830;
        cursor: pointer;


    }

    strong{
        font-size: 16px;
        font-weight: 200;
    }

    textarea{
        padding: 10px;
        border: 2px solid #0D1B2A;
        border-radius: 3px;
        font-size: 15px;
    }

    textarea::placeholder{
        font-size: 16px;
        color: #343a41;
    }

    button{
        padding: 15px;
        font-size: larger;
        border-radius: 3px;
        font-weight: bold;
        border-radius: 8px;
        background-color: #55585c;
        color: rgb(236, 230, 230);
    }


}

































