/* Reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
    
}

/* body css */
body{
    text-align: center;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    background-color:cornsilk;
}


/* header css */
header {
    background-color: #7C3AED;
    width: 100vw;
    height: 11em;
}


#logo{
    margin-top: 10px;
    margin-left: 10px;
    width: 3rem;
    position: absolute;
    left: 0rem;
    
}

h1{
    padding-top: 10px;
}

ul{
    list-style: none;
}

#nav-list{
    outline: blanchedalmond;
    text-align: center;
    
}

#nav-list li{
    display: inline;
}


a {
    font-size: 1.2rem;
    color:black
}

nav {
    padding: 10px;

    
}

/* footer css */
footer{
    text-align: left;
    background-color: #5B21B6;
    margin-top: 10px;
    padding: 1em;
    width: 100vw;
}

.email{
    padding-top: 1em;
    display: block;
}

small{
    padding-bottom: 1em;
    display: block;
}

/* main section css */
main{
    border-radius: 80px;
    background-color: cadetblue;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    /* grid-template-rows: auto; */
    /* gap: 2px;  */


}

form{
    background-color: aqua;
    text-align: left;
    width: 47vw;
    height: auto;
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 30px;

}

#portal-img{
    width: 45vw;
    height: 60vh;
    margin-right: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}




