/* Reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow-x: hidden;
    
}

/* body css */
body{
    text-align: center;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow-x: hidden; */
}


/* header css */
header {
    background-color: #7C3AED;
    width: 100vw;
    height: 11em;
    /* color: #DBEAFE; */
}


#logo{
    margin-top: 10px;
    margin-left: 10px;
    width: 3rem;
    position: absolute;
    left: 0rem;
    
}

h1{
    padding-top: 10px;
}

ul{
    list-style: none;
}

#nav-list{
    /* margin-top: 10px; */
    outline: blanchedalmond;
    text-align: center;
    
}

#nav-list li{
    display: inline;
}


a {
    font-size: 1.2rem;
    color:black
}

nav {
    padding: 10px;
    /* margin-top: 10px; */

    
}

/* footer css */
footer{
    text-align: left;
    background-color: #5B21B6;
    margin-top: 10px;
    padding: 1em;
    width: 100vw;
}

.email{
    padding-top: 1em;
    display: block;
}

small{
    padding-bottom: 1em;
    display: block;
}

/* main section css */

img{
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.details{
    padding: 40px;
    padding-left: 2em;
    text-align: left;
    border-radius: 40px;
    box-shadow: 3px 4px 6px 8px pink;
    margin-bottom: 20px;
    margin-left: 3em;
    margin-right: 3em;
}

.about-me{
    margin-top: 40px;
    margin-left: 5em;
    margin-right: 5em;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 3px 4px 4px 8px pink;
}

.my-hobbies{
    text-align: left;
    margin-top: 40px;
    margin-left: 8em;
    margin-right: 8em;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 3px 4px 4px 8px pink;
}

.my-goals{
    margin-top: 40px;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 3px 4px 4px 8px pink;
}





